
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.position_container{
    width: 100%;
    height: 180px;
    border: solid 1px gainsboro;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.position_container .position_left{
    flex: 6;

    border-right: dotted 1px grey;
}

.position_container .position_right{
    flex: 4;
    /*background: red;*/
}

.position_container .position_left .position_left_01{
    font-size: 1.5em;
    color: #31b0d5;

}

.position_container .position_left .position_left_01:hover{
    color: red;
    cursor: default;
}

.position_container .position_left .position_left_02{

    width: 100%;
    height: 40%;
}

.position_container .position_left .position_left_02 ul li{
    float: left;
    padding-right: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: 1.1em;
    margin-top: 20px;
    border-right: solid 1px grey;
}

.position_container .position_left .position_left_02 ul li:first-child{
    padding-left: 0px;
    color: red;
}

.position_container .position_left .position_left_02 ul li:last-child{
    border-right: none;
}
