<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
     <h1> Angularjs2</h1>
    </div>
  </div>

  <!--导航链接-->
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <a routerLink="/heroes">Heroes</a>
      <a routerLink="/dashboard">dashboard</a>
      <a routerLink="/personal-center">personal</a>
      <a routerLink="/login">login</a>
    </div>
  </div>


    <!--组件的容器-->
    <router-outlet class="row">

    </router-outlet>



</div>
