* html .u1_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="书籍详情页_files/u1_normal.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="书籍详情页_files/u11_normal.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="书籍详情页_files/u14_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="书籍详情页_files/u16_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="书籍详情页_files/u14_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="书籍详情页_files/u14_normal.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="书籍详情页_files/u14_normal.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="书籍详情页_files/u14_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="书籍详情页_files/u26_normal.png");
}

